

<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div>  
        <h1>About Art Tracker</h1>
        <div> 
          <p>Art Tracker is a inventory management tool designed to help artists keep track of their creative creations.</p>
          <p>If you have any questions please contact <a href="mailto:brian.purcell7@gmail.com">me</a>.</p>
        </div>
      </div>  
    </div>
    <div class="col-md-1">
    </div>  
    </div>
  </div>
</div>